<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7TcWITWaJsUa9m-GEq6-BOh44DwSxxDw</string>
	<key>GCM_SENDER_ID</key>
	<string>18620124356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stemmlab</string>
	<key>PROJECT_ID</key>
	<string>stemm-lab-678ad</string>
	<key>STORAGE_BUCKET</key>
	<string>stemm-lab-678ad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18620124356:ios:992f568bd642f2803e0d91</string>
</dict>
</plist>